{% extends 'TycoonCatalogBundle::layout.html.twig' %}

{% block leftSidebar %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('Access_User_account') }}">My profile</a>
        </li>
        <li>
            <a href="{{ path('Access_User_security') }}">Security settings</a>
        </li>
        <li class="active">
            <a href="{{ path('Access_User_profile') }}">Edit profile</a>
        </li>
        <li>
            <a href="{{ path('Access_User_history') }}">Order history</a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    {% if app.user == null %}
        <h2 class="centered"> Access denied. Please log in.</h2>
    {% else %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="flash alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="flash alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="tycoon-page-header"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{{ path('Access_User_profile') }}" method="post" {{ form_enctype(profile_form) }}>
                <div class="form-group">
                    {{ form_row(profile_form.firstName) }}
                    {{ form_row(profile_form.lastName) }}
                    {{ form_row(profile_form.email) }}
                    {{ form_rest(profile_form) }}
                    {{ form_errors(profile_form) }}

                </div>
                <button type="submit" class="btn btn-primary">Edit profile</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    {% endif %}
{% endblock %}
